<div class="list-groups">
  {% assign education = data[1] | sort: 'startDate' | reverse %}
  {% for edu in education %}
    <div class="list-group col-md-6">
      <table class="table-cv list-group-table">
        <tbody>
          <tr>
            <td class="list-group-category">
              <b>{{ edu.institution }}</b>
            </td>
            <td class="list-group-date">{{ edu.startDate }} - {{ edu.endDate }}</td>
          </tr>
          <tr>
            <td colspan="2" class="list-group-summary">
              <b>{{ edu.studyType }} in {{ edu.area }}</b><br>
              {{ edu.location }}<br>
              <a href="{{ edu.url }}" target="_blank">{{ edu.url }}</a><br>
              <b>GPA:</b> {{ edu.score }}<br>
              <b>Courses:</b>
              <ul>
                {% for course in edu.courses %}
                  <li>{{ course }}</li>
                {% endfor %}
                <li>Entrepreneurial Strategy (94)</li>
                <li>Marketing Research and Analysis (92)</li>
                <li>Entrepreneurial Marketing (92)</li>
                <li>New Products Development and Project Management (92)</li>
                <li>Management (92)</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  {% endfor %}
</div>
